.hr1{
    top: 66px;
    position: absolute;
    width: 126px;
    left: 404px;
}
h1{
    font-size:60px;
    font-style:bold;
    text-align: center;
}
.hr2{
    position: absolute;
    width: 128px;
    top: 70px;
    left: 842px;
}
.first{
    position:absolute;
    left: 608px;
}
.text{
    font-size: 24px;
    color:lightgrey;
    font-weight:normal;

}
.text1{
    left:661px;
    position:relative;
    font-size: 46px;
    color: grey;
    
}
.one{
    border: 2px solid red;
    position: absolute;
    left: 568px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    top: 220px;
    width: 279px;
    height: 365px;
    line-height: 45px;
    box-shadow: 5px 5px 5px lightsteelblue;
}
.one1{
    color:red;
    line-height: 60px;
}
.one2{
    color:red;
    text-decoration:line-through;
}
.add{
    position:absolute;
    left: 232px;
    top:305px;
    color:red;
}
a{
    color:red;
}